---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Projects from '../components/Projects.astro';
import Photography from '../components/Photography.astro';
import Activity from '../components/Activity.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import F1Easter from '../components/F1Easter.astro';
---

<Layout>
  <Header />
  <main>
    <About />
    <Experience />
    <Education />
    <Projects />
    <Photography />
    <Activity />
    <Contact />
  </main>
  <Footer />
  <F1Easter />
</Layout>
